<div class="jumbotron mt-4">
<h1 class="display-4">Loguear</h1>
<p class="lead">Logueate introduciendo los datos en los campos</p>
<hr class="my-4">
<p>Aqui puedes introducir los datos</p>
<form action="/users/cookieSet" method="get">
    <p>Email: <input type="text" name="email"/></p>
    <p>Nombre: <input type="text" name="nombre" /></p>
    <p>Contraseña: <input type="text" name="contraseña"/></p>
    <p><input type="submit" value="Enviar"/></p>
</form>
</div>