<div class="row">
    {{#each airplanes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{title}}    
                    </h4>
                    <p>{{description}}</p>
                        <FONT SIZE=1>
                        <button class="btn btn-success btn-block btn-sm">Reservar</button>
                    </FONT>
                </div>
            </div>
        </div>
    {{/each}}
</div>