<div class="jumbotron mt-4">
<h1 class="display-4">Regístrate</h1>
<p class="lead">Registrate con tu nombre, email y contraseña</p>
<hr class="my-4">
<p>Introduce los datos</p>
<a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>