<div class="jumbotron mt-4">
<h1 class="display-4">Loguear</h1>
<p class="lead">Logueate introduciendo los datos en los campos</p>
<hr class="my-4">
<p>Aqui puedes introducir los datos</p>
<form action="/users/signin" method="POST">
    <p>Email: <input type="text" name="email"/></p>
    <p>Contraseña: <input type="password" name="password"/></p>
    <p><input type="submit" value="Enviar"/></p>
</form>
</div>