<div class="card">
<h1 class="card-body">Regístrate</h1>
<p class="lead">Registrate con tu nombre, email y contraseña</p>
<hr class="my-4">
<p>Introduce los datos</p>
<form action="/api" method="GET">
    <p>Email: <input type="text" name="email"/></p>
    <p>Nombre: <input type="text" name="nombre" /></p>
    <p>Contraseña: <input type="text" name="contraseña"/></p>
    <p><input type="submit" value="Enviar" class="btn btn-primary btn-lg"/></p>
</form>
</div>